body{
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}

#menu_top {
    background:#141414;
    height: 40px;
}

#banner {
    height: auto;
    width: 1000px;
}

#main #left{
    width: 700px;
    float: left;
    min-height: 400px;
}

#main #right{
    width:300px;
    min-height: 400px;
    float:left;
}

#footer{
    background:#2b669a;
    width:1000px;
    text-align: center;
    height: 60px;
    color: #FFF;
    clear: left;
    line-hight: 60px;
}

#menu_top ul{
    margin: 0px;
    padding:0 px;
}

#menu_top ul li{
    list-style: none;
    float:left;
}

#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color:#FFF;
    padding: 0px 50px 0px 50px;
    border-right: 1px solid #f1f1f1;
}

#menu_top ul li a.active{
    background:#1949b5;
}

#banner img{
    width: 1000px;
}

#main #left ul{
    margin: 0px;
    padding: 0px;
}

#main #left ul li{
    list-style: none;
    margin-bottom: 20px;
}

#main #left ul li img {
    width:700px;
}

#main{
    margin-top: 10px;
}

#main #right .menu_right ul{
    margin: -14px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #ccc;
}

#main #right .menu_right ul li {
    list-style: none;
}

#main #right .menu_right ul li a{
    display: block;
    text-decoration: none;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    text-indent: 35px;
    color: #4cae4c;
}
#main #right .menu_right ul li a:hover {
    color:red;

}
#main #right .menu_right ul img {
    width: 299px;
}


#main #right .menu_right h3{
    background-color: #1b6d85;
    height: 49px;
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
    text indent: 0px;
}

#footer #menu_footer #h2{
    background-color: #4cae4c;
    height: 40px;
    margin-top: 0px;
    text-align: center;

}